.box-container {
  background-color: var(--yt-clr);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 15px;
  padding: 15px;
}

.box-container>div {
  background-color: hsl(240, 50%, 90%);
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  text-align: center;
  padding: 15px;
}

.box-container img {
  max-width: 200px;
  aspect-ratio: 1/1;
  margin: 0 auto;
}

.box-container p {
  font-family: Palanquin, Arial, sans-serif;
  font-size: 1.2em;
}

@media (min-width: 768px) {
  .box-container img {
    max-width: 300px;
  }

  .box-container p {
    font-size: 1.7em;
    font-weight: 500;
  }
}