.circle-container {
  display: flex;
  justify-content: center;
}

.circle-container>div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 1000px;
  margin: 50px 0;
}

.circle-container section {
  background-color: var(--gy-ish-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  aspect-ratio: 1 / 1;
  border: 3px solid var(--yt-clr);
  border-radius: 50%;
  margin: 30px;

  &:hover {
    border-color: hsl(15, 45%, 45%);
  }
}

.circle-container section>img {
  position: relative;
  display: block;
  filter:
    invert(81%) sepia(80%) saturate(719%) hue-rotate(297deg) brightness(92%) contrast(98%);
}

.circle-container section>p {
  color: hsl(20, 40%, 60%);
  font-size: 1.6em;
  font-weight: 700;
  position: absolute;
  display: none;
}

.circle-container section:hover>img {
  display: none;
}

.circle-container section:hover>p {
  display: block;
}