main>section:nth-of-type(2) h1,
main>section:nth-of-type(5) h2,
main>section:nth-of-type(6) h5 {
  display: flex;
  justify-content: center;
}

main>section:nth-of-type(2) h1 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-size: 3.5em;
  margin-top: 3em;
  padding: 0 15px;
}

main>section:nth-of-type(5) h2 {
  font-family: Palanquin, Arial, sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 4em;
  padding: 0 15px;
}

main>section:nth-of-type(6) h5 {
  font-family: Palanquin, Arial, sans-serif;
  color: var(--gy-mid-clr);
  margin-top: 7em;
}

@media (min-width: 560px) {
  main>section:nth-of-type(2) h1 {
    font-size: 4.5em;
  }
}

@media (min-width: 768px) {
  main>section:nth-of-type(2) h1 {
    font-size: 6em;
  }

  main>section:nth-of-type(5) h2 {
    font-size: 2.5em;
  }
}

@media (min-width: 1024px) {
  main>section:nth-of-type(5) h2 {
    font-size: 3em;
  }
}