main>section:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

main>section:nth-of-type(4) {
  display: flex;
}

main>section:nth-of-type(1) img,
main>section:nth-of-type(4) img {
  width: 100%;
}

main>section:nth-of-type(1) h3 {
  font-family: Palanquin, Arial, sans-serif;
  color: var(--yt-clr);
  font-weight: 700;
  margin-bottom: 1em;
  padding: 0 15px;
  position: absolute;
}

@media (min-width: 768px) {
  main>section:nth-of-type(1) h3 {
    font-size: 2.5em;
  }
}

@media (min-width: 1024px) {
  main>section:nth-of-type(1) h3 {
    font-size: 3.2em;
  }
}