main>section:nth-of-type(1) {
  display: flex;
  justify-content: center;
  padding: 25px 15px;
  border-top: 25px solid var(--yt-clr);
}

main>section>div {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(3, 1fr);
  width: 1500px;
}

main>section>div>h3 {
  font-family: Unbounded, Arial, sans-serif;
  font-weight: 500;
  color: var(--gy-mid-clr);
  padding: 25px 0;
}

@media (min-width: 520px) {
  main>section>div>h3:nth-of-type(1) {
    justify-self: start;
  }

  main>section>div>h3:nth-of-type(3) {
    justify-self: end;
  }
}