.footer-container {
  height: 100px;
  display: flex;
  justify-content: center;
}

#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.copyright {
  font-size: 1rem;
  font-weight: 600;
  color: var(--gy-mid-clr);
  border-top: 1px solid var(--gy-mid-clr);
  padding: 40px 10px 0;
}

.rejoice {
  color: #616161;
}