*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  background-color: var(--yt-ish-clr);
  color: var(--bk-ish-clr);
  font-family: Roboto, Arial;
  min-height: 100vh;
  min-height: 100svh;
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
  overflow-y: scroll;
  cursor: default;
}

html.stop-scrolling,
body.stop-scrolling {
  overflow-y: hidden;
  touch-action: none;
}