.sentence-container {
  background-color: var(--yt-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sentence-1 {
  color: var(--gy-mid-clr);
  font-size: 1.5rem;
  font-weight: 700;
}

.sentence-2 {
  font-size: 1.2rem;
}

.sentence-1,
.sentence-2 {
  font-family: Palanquin, Arial;
  padding: 25px;
}