.sentence-container {
  background-color: var(--yt-clr);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sentence-container p {
  color: var(--gy-mid-clr);
  font-family: Palanquin, Arial;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 25px 15px;
}

.faq-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-title p {
  color: #b9b4b4;
  font-family: Anek Devanagari, Arial;
  font-size: 3.5rem;
  padding: 45px 0 15px;
}

.open-form {
  color: var(--gd-drk-clr);
  cursor: pointer;
}