.faq-container {
  display: flex;
  justify-content: center;
}

.faq-width {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin-bottom: 65px;
  padding: 0 15px;
}

.faq {
  background-color: var(--gy-ish-clr);
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 16px;
}

.faq:last-child {
  margin-bottom: 0;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h4 {
  font-family: Palanquin, Arial;
  font-size: 1.5rem;
  line-height: 1.6;
  padding-right: 15px;
}

.arrow {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrow svg {
  transition: transform 0.5s;
}

.arrow svg:hover {
  fill: var(--gd-clr);
}

.faq.active .arrow svg {
  transform: rotate(180deg);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease-in-out;
}

.answer p {
  padding-top: 20px;
  line-height: 1.5;
  font-size: 1rem;
}

.faq.active .answer {
  max-height: 300px;
  animation: drop 1s ease-in;
}

@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}