main>section:nth-of-type(3) {
  display: flex;
  justify-content: center;
}

main>section:nth-of-type(3)>div {
  display: flex;
  flex-direction: column;
  width: min(700px, 100%);
  margin-bottom: 50px;
  padding: 0 15px;
}

main>section:nth-of-type(3)>div details {
  background-color: var(--gy-ish-clr);
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 16px;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

main>section:nth-of-type(3)>div details,
main>section:nth-of-type(3)>div details>summary {
  -webkit-tap-highlight-color: transparent;
}

details>summary::-webkit-details-marker {
  display: none;
}

main>section:nth-of-type(3)>div details>summary {
  display: flex;
  justify-content: space-between;
  font-family: Palanquin, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

main>section:nth-of-type(3)>div details>p {
  padding-top: 20px;
}

.arrow {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  margin-left: 15px;
}

.arrow svg {
  transition: transform 0.5s;
}

details[open] .arrow svg {
  fill: var(--gd-clr);
  transform: rotate(180deg);
}