.dialog {
  width: 450px;
  margin: auto;
  border: 5px solid var(--gd-ish-clr);
}

.dialog::backdrop {
  background: hsla(0, 2%, 45%, 0.85);
  backdrop-filter: blur(5px);
}

.dialog form {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  animation: slide .3s ease;
}

@keyframes slide {
  from {
    transform: translateY(-25px);
  }

  to {
    transform: translateY(0px);
  }
}

form h3 {
  color: var(--gy-clr);
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 60px;
}

.label-svg-container {
  display: flex;
}

.label-svg-container label {
  color: var(--gy-clr);
  padding-left: 2px;
}

.label-svg-container svg {
  margin-left: 5px;
  height: 24px;
  width: 24px;
}

.input-row,
.input-area {
  width: 100%;
  margin-bottom: 30px;
}

.input-row input {
  height: 58px;
}

.input-area textarea {
  height: 300px;
  resize: none;
  line-height: 1.6;
}

.input-row input,
.input-area textarea {
  width: 100%;
  padding: 20px;
  font-family: Helvetica, Arial;
  font-size: 1rem;
  outline: none;
  border: 1px solid hsl(0, 7.5%, 87.5%);
}

.input-row input:focus,
.input-area textarea:focus {
  border-color: var(--gd-drk-clr);
  box-shadow: 0 0 8px var(--gd-drk-clr);
}

.input-row input::placeholder,
.input-area textarea::placeholder {
  font-family: Roboto, Arial;
  font-size: 1rem;
  text-align: center;
}

.form-btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-btn {
  background: none;
  color: var(--gy-mid-clr);
  width: 100px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.form-btn:hover {
  color: var(--gy-clr);
}

.error-msg {
  color: var(--gd-drk-clr);
  height: 32px;
  padding-top: 8px;
  text-align: center;
}