main>section:nth-of-type(1),
main>section:nth-of-type(2),
main>section:nth-of-type(4) {
  display: flex;
  justify-content: center;
  align-items: center;
}

main>section:nth-of-type(1),
main>section:nth-of-type(4) {
  background-color: var(--yt-clr);
}

main>section:nth-of-type(1) h4,
main>section:nth-of-type(4) h4 {
  font-family: Palanquin, Arial, sans-serif;
  font-weight: 500;
  color: var(--gy-mid-clr);
  padding: 25px 15px;
}

main>section:nth-of-type(2) h1 {
  font-family: 'Anek Devanagari', Arial, sans-serif;
  color: hsl(0, 3.5%, 70.5%);
  padding: 50px 0 25px 0;
}

main>section:nth-of-type(4) input {
  background: none;
  color: var(--gd-drk-clr);
  border: none;
  cursor: pointer;
}