.dialog {
  width: min(450px, 100%);
  margin: auto;
  border: 5px solid var(--gd-ish-clr);
}

.dialog::backdrop {
  background-color: hsla(0, 2%, 45%, 0.85);
  backdrop-filter: blur(5px);
}

.dialog>form {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  animation: slide 0.3s ease;
}

.dialog>form>h4 {
  font-family: Palanquin, Arial, sans-serif;
  font-weight: 500;
  color: var(--gy-mid-clr);
  text-align: center;
  margin-bottom: 60px;
}

.dialog>form>section {
  display: flex;
  flex-direction: column;
}

.dialog>form>section>span {
  height: 80px;
  color: var(--gd-drk-clr);
  text-align: center;
  padding-top: 10px;
}

.dialog>form>section>textarea {
  resize: none;
}

.dialog>form>section>input[type="text"],
.dialog>form>section>textarea {
  padding: 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid hsl(0, 7.5%, 87.5%);
}

.dialog>form>section>input[type="text"]:focus,
.dialog>form>section>textarea:focus {
  border-color: var(--gd-drk-clr);
  box-shadow: 0 0 8px var(--gd-drk-clr);
}

.dialog>form>section>input[type="text"]+label,
.dialog>form>section>textarea+label {
  display: flex;
  font-weight: 500;
  color: hsl(0, 20%, 40%);
  padding-left: 15px;
  order: -1;
}

.dialog>form>section>input[type="text"]+label::after,
.dialog>form>section>textarea+label::after {
  display: flex;
  content: '\f149';
  font-family: 'Font Awesome 6 Free';
  font-size: 1em;
  color: hsla(0, 20%, 40%, 0.6);;
  padding-left: 15px;
}

.dialog>form>div {
  background-color: hsl(0, 5%, 95%);
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.dialog>form>div>input {
  background: none;
  font-size: 1.2em;
  font-weight: 700;
  color: var(--gy-mid-clr);
  padding: 15px;
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--gy-clr);
  }
}

@keyframes slide {
  from {
    transform: translateY(-25px);
  }

  to {
    transform: translateY(0px);
  }
}