.dialog {
  width: min(450px, 100%);
  margin: auto;
  border: 5px solid var(--gd-ish-clr);
}

.dialog::backdrop {
  background-color: hsla(0, 2%, 45%, 0.85);
  backdrop-filter: blur(5px);
}

.dialog>form {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  animation: slide 0.3s ease;
}

@keyframes slide {
  from {
    transform: translateY(-25px);
  }

  to {
    transform: translateY(0px);
  }
}

.dialog>form>h4 {
  font-weight: 500;
  color: var(--gy-clr);
  text-align: center;
  margin-bottom: 60px;
}

.dialog>form>div:not(:last-of-type) {
  display: flex;
  flex-direction: column;
}

.dialog>form>div>textarea {
  height: 300px;
  resize: none;
}

.dialog>form>div>input[type="text"],
.dialog>form>div>textarea,
.dialog>form>div>input[type="email"] {
  padding: 20px;
  outline: none;
  border-radius: 5px;
  border: 1px solid hsl(0, 7.5%, 87.5%);
}

.dialog>form>div>input[type="text"]:focus,
.dialog>form>div>textarea:focus,
.dialog>form>div>input[type="email"]:focus {
  border-color: var(--gd-drk-clr);
  box-shadow: 0 0 8px var(--gd-drk-clr);
}

.dialog>form>div>input[type="text"]+label,
.dialog>form>div>textarea+label,
.dialog>form>div>input[type="email"]+label {
  display: flex;
  font-weight: 500;
  color: var(--gy-clr);
  padding-left: 15px;
  order: -1;
}

.dialog>form>div>input[type="text"]+label::after,
.dialog>form>div>textarea+label::after,
.dialog>form>div>input[type="email"]+label::after {
  display: flex;
  content: '\f149';
  font-family: 'Font Awesome 6 Free';
  font-size: 1em;
  color: var(--gy-mid-clr);
  padding-left: 15px;
}

.dialog>form>div:last-of-type {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dialog>form>div:last-of-type>input {
  background: none;
  font-size: 1.2em;
  font-weight: 700;
  color: var(--gy-mid-clr);
  padding: 15px;
  border: none;
  cursor: pointer;

  &:hover {
    color: var(--gy-clr);
  }
}

.dialog>form>div>p {
  height: 70px;
  color: var(--gd-drk-clr);
  padding-top: 10px;
  text-align: center;
}