main {
  display: flex;
  justify-content: center;
}

main>div {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 30px 15px;
}

main>div>section:first-of-type {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 30px;
}

main>div>section:first-of-type>h6:nth-of-type(1),
main>div>section:first-of-type>h6:nth-of-type(3) {
  font-size: 1.2em;
  color: var(--gd-ish-clr);
}

main>div>section:first-of-type>h6:nth-of-type(2) {
  font-size: 2.2em;
  color: var(--gd-drk-clr);
}

main>div>section:first-of-type>h6:nth-of-type(1) {
  animation: entity-left 0.7s ease-in 1.9s infinite alternate-reverse;
}

main>div>section:first-of-type>h6:nth-of-type(2) {
  animation: entity-up 0.7s ease-in 0.5s infinite alternate-reverse;
}

main>div>section:first-of-type>h6:nth-of-type(3) {
  animation: entity-right 0.7s ease-in 1.9s infinite alternate-reverse;
}

main>div>section:nth-of-type(2) p:not(:last-of-type) {
  font-family: Palanquin, Arial, sans-serif;
  font-size: 1.1em;
  margin-bottom: 30px;
}

main>div>section:nth-of-type(2) p:last-of-type {
  text-align: end;
  margin-bottom: 60px;
}

main>div>section:last-of-type {
  display: flex;
  align-self: flex-end;
}

main>div>section:last-of-type h1 {
  font-family: Cherish, 'Times New Roman', serif;
  padding-right: 8px;
}

@keyframes entity-left {
  from {
    transform: translateX(-5px);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes entity-up {
  from {
    transform: translateY(-7px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes entity-right {
  from {
    transform: translateX(5px);
  }

  to {
    transform: translateX(0px);
  }
}