.future-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 15px;
  gap: 50px;
}

.future-container>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.future-container>div>section {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  order: -1;
}

.future-container>div>section>img {
  width: 100%;
  border-radius: 70px;
  grid-area: 1 / 1 / 4 / 4;
}

.future-container section>h6,
.future-container section>p {
  opacity: 0;
  text-align: center;
  grid-area: 2 / 2 / 3 / 3;
}

.future-container section>h6 {
  color: var(--bk-clr);
  font-weight: 700;
  padding-top: 20px;
}

.future-container section>p {
  color: var(--gy-clr);
  padding-top: 70px;
}

.future-container input {
  background-color: var(--gy-ish-clr);
  display: flex;
  align-items: center;
  aspect-ratio: 2 / 1;
  border-radius: 70px;
  cursor: pointer;
  appearance: none;
}

.future-container input::before,
.future-container input::after {
  display: block;
  content: '';
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  margin: 10px;
}

.future-container input::before {
  background-color: hsl(0, 3%, 60%);
}

.future-container input::after {
  background-color: hsl(0, 7%, 80%);
}

.future-container input:checked:before {
  background-color: hsl(0, 7%, 80%);
}

.future-container input:checked:after {
  background-color: hsl(0, 3%, 60%);
}

.future-container input:checked~section>img {
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

.future-container input:checked~section>h6,
.future-container input:checked~section>p {
  opacity: 1;
}

.future-container input:checked~section>p {
  transition: opacity 1.5s ease;
  transition-delay: 0.8s;
}

@media (min-width: 320px) {
  .future-container section>h6 {
    padding-top: 35px;
    font-size: 1.7em;
  }

  .future-container section>p {
    padding-top: 120px;
  }
}

@media (min-width: 425px) {
  .future-container>div>section {
    max-width: 395px;
  }

  .future-container section>h6 {
    font-size: 2em;
  }

  .future-container section>p {
    font-size: 1.2em;
  }
}