main>section:nth-of-type(2),
main>section:nth-of-type(4) {
  background-color: var(--yt-clr);
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
  gap: 50px;
}

main>section:nth-of-type(2) h3,
main>section:nth-of-type(2) h5 {
  color: var(--gy-mid-clr);
  font-weight: 700;
}

main>section:nth-of-type(2) h3,
main>section:nth-of-type(2) h5,
main>section:nth-of-type(4) h6 {
  font-family: Palanquin, Arial, sans-serif;
  text-align: center;
}