.future-module-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 0;
}

.future-module-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.future-module {
  height: 540px;
  width: 540px;
  margin-bottom: 15px;
  position: relative;
}

.future-module-image {
  width: 100%;
  border-radius: 90px;
  opacity: 1;
}

.future-module-title,
.future-module-line,
.future-module-text {
  position: absolute;
  left: 130px;
  right: 130px;
  opacity: 0;
}

.future-module-title {
  color: var(--bk-clr);
  top: 150px;
  font-size: 2.5rem;
  font-weight: 700;
}

.future-module-line {
  top: 240px;
  filter:
    invert(29%) sepia(7%) saturate(237%) hue-rotate(314deg) brightness(102%) contrast(85%);
}

.future-module-text {
  color: var(--gy-clr);
  top: 280px;
  font-size: 2rem;
  font-weight: 500;
}

.btn-toggle-container {
  background-color: var(--gy-ish-clr);
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 160px;
  padding: 10px;
  border-radius: 40px;
}

.btn-toggle-container button {
  background: none;
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.btn-toggle-container button:first-child {
  background-color: hsl(0, 3%, 60%);
}

.btn-toggle-container button:last-child {
  background-color: hsl(0, 7%, 80%);
}

@media (max-width: 634px) {
  .future-module {
    height: 420px;
    width: 420px;
  }

  .future-module-title,
  .future-module-line,
  .future-module-text {
    left: 70px;
    right: 70px;
  }

  .future-module-title {
    top: 80px;
  }

  .future-module-line {
    top: 160px;
  }

  .future-module-text {
    top: 200px;
  }
}

@media (max-width: 519px) {
  .future-module {
    height: 360px;
    width: 360px;
  }

  .future-module-title {
    font-size: 2rem;
  }

  .future-module-line {
    left: 40px;
    right: 40px;
  }

  .future-module-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 439px) {
  .future-module-wrap {
    padding: 10px;
    margin-bottom: 35px;
  }

  .future-module {
    height: 300px;
    width: 300px;
  }

  .future-module-title {
    font-size: 1.5rem;
  }

  .future-module-line {
    top: 140px;
    left: 10px;
    right: 10px;
  }

  .future-module-text {
    top: 170px;
    font-size: 1.2rem;
  }
}