.module-container {
  background-color: var(--yt-clr);
  display: grid;
  justify-content: space-evenly;
  grid-auto-rows: 450px;
  grid-template-columns: repeat(auto-fit, 450px);
  grid-gap: 120px 75px;
  padding: 50px 10px;
}

.module {
  display: grid;
  grid-template-rows: 100px 250px 100px;
  grid-template-columns: 100px 250px 100px;
  transition: transform .15s;
}

.module:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.module-image {
  height: 100%;
  border-radius: 75px;
  grid-area: 1 / 1 / 4 / 4;
  box-shadow: 0px 5px 10px #00000025;
}

.module-text {
  color: var(--yt-clr);
  font-size: 3rem;
  font-weight: 600;
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;
  align-self: center;
  z-index: -1;
}

.module.active .module-text {
  z-index: 0;
}

@media (max-width: 514px) {
  .module-container {
    grid-auto-rows: 390px;
    grid-template-columns: 390px;
    grid-gap: 75px 0;
  }
  .module {
    grid-template-rows: 80px 230px 80px;
    grid-template-columns: 80px 230px 80px;
  }
}

@media (max-width: 448px) {
  .module-container {
    grid-auto-rows: 330px;
    grid-template-columns: 330px;
  }
  .module {
    grid-template-rows: 60px 210px 60px;
    grid-template-columns: 60px 210px 60px;
  }
}

@media (max-width: 382px) {
  .module-container {
    grid-auto-rows: 300px;
    grid-template-columns: 300px;
  }
  .module {
    grid-template-rows: 50px 200px 50px;
    grid-template-columns: 50px 200px 50px;
  }
  .module:hover {
    transform: none;
  }
}