.circle-container {
  display: flex;
  justify-content: center;
}

.circle-total-width {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 1000px;
  margin: 50px 0;
}

.circle {
  background-color: var(--gy-ish-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 160px;
  border: 3px solid var(--yt-clr);
  border-radius: 80px;
  margin: 30px;
}

.circle:hover {
  border-color: hsl(15, 45%, 45%);
}

.icon {
  position: relative;
  opacity: 1;
  filter:
    invert(81%) sepia(80%) saturate(719%) hue-rotate(297deg) brightness(92%) contrast(98%);
}

.circle.active .icon {
  opacity: 0;
}

.text {
  color: hsl(20, 40%, 60%);
  font-size: 1.6rem;
  font-weight: 700;
  position: absolute;
  opacity: 0;
}

.circle.active .text {
  opacity: 1;
}