.sentence-container {
  display: flex;
  justify-content: center;
}

.sentence-1 {
  font-family: Playfair Display, 'Times New Roman';
  font-size: 6rem;
  margin-top: 280px;
}

@media (max-width: 730px) {
  .sentence-1 {
    font-size: 4.5rem;
    margin-top: 260px;
  }
}

@media (max-width: 560px) {
  .sentence-1 {
    font-size: 3.5rem;
    margin-top: 240px;
    padding: 0 10px;
  }
}

.sentence-2 {
  font-family: Palanquin, Arial;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 80px;
}

@media (max-width: 880px) {
  .sentence-2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 736px) {
  .sentence-2 {
    font-size: 2rem;
    padding: 0 10px;
  }
}

.sentence-3 {
  color: var(--gy-mid-clr);
  font-family: Palanquin, Arial;
  font-size: 1.4rem;
  margin-top: 200px;
}