.manifest-container {
  display: flex;
  justify-content: center;
}

.element-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 25px 0;
  padding: 0 15px;
}

.entity-total-width {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 18px;
}

.sentence-width p {
  font-family: Palanquin, Arial;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.middle-entity {
  color: var(--gd-drk-clr);
  font-size: 2.2rem;
  
}

.left-entity,
.right-entity {
  color: var(--gd-ish-clr);
  font-size: 1.2rem;
}

.signature {
  display: flex;
  justify-content: end;
}

.signature p {
  font-family: Cherish, Times;
  font-size: 3.5rem;
  padding-right: 8px;
}

.animate-left {
  animation: entity-left .7s ease-in 1.9s infinite alternate-reverse;
}

.animate-middle {
  animation: entity-up .7s ease-in 0.5s infinite alternate-reverse;
}

.animate-right {
  animation: entity-right .7s ease-in 1.9s infinite alternate-reverse;
}

@keyframes entity-left {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes entity-up {
  from {
    transform: translateY(-7px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes entity-right {
  from {
    transform: translateX(5px);
  }
  to {
    transform: translateX(0px);
  }
}