body>aside {
  background-color: hsla(0, 100%, 100%, 0.85);
  backdrop-filter: blur(10px);
  box-shadow: -5px 0 10px hsla(0, 100%, 0%, 0.07);
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  padding: 13px 15px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
}

body>aside>nav>ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body>aside>nav>ul>li {
  margin-top: 30px;
  list-style: none;
}

body>aside>nav>ul a {
  font-size: 1.2em;
  color: var(--gy-clr);
  padding: 5px;
  text-decoration: none;
}

body>aside>nav>ul>li:last-of-type a {
  font-weight: 600;
}

body>aside>button {
  display: flex;
  background: none;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

@media (min-width: 350px) {
  body>aside {
    width: 250px;
  }
}