header {
  background-color: hsla(240, 20%, 97%, 0.90);
  backdrop-filter: blur(10px);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

header>button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

header>nav {
  width: min(600px, 100%);
}

header>nav>ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>nav>ul>li {
  display: none;
  list-style: none;
}

header>nav>ul>li>a {
  font-family: inherit;
  color: var(--gy-clr);
  font-size: 0.85rem;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;

  &:hover {
    color: var(--gd-clr);
  }
}

header>nav>ul>li:first-of-type {
  display: flex;
}

header>nav>ul>li:first-of-type a {
  display: flex;
  padding: 0;
}

header>nav>ul>li:last-of-type a {
  font-weight: 600;
}

header>nav>ul>li>a:first-of-type img {
  width: 104px;
  filter:
    invert(46%) sepia(6%) saturate(165%) hue-rotate(201deg) brightness(91%) contrast(90%);
}

@media (min-width: 565px) {
  header>button {
    display: none;
  }

  header>nav>ul>li {
    display: flex;
  }
}