header {
  background-color: hsla(240, 20%, 97%, 0.90);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 8px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

header>nav {
  width: min(600px, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.logo-container {
  display: flex;
  cursor: pointer;
}

.logo-container>img {
  width: 104px;
  filter:
    invert(46%) sepia(6%) saturate(165%) hue-rotate(201deg) brightness(91%) contrast(90%);
}

.header-link {
  display: none;
  font-size: 0.85rem;
  color: var(--gy-clr);
  font-family: inherit;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;

  &:last-of-type {
    font-weight: 600;
  }

  &:hover {
    color: var(--gd-clr);
  }
}

@media (min-width: 565px) {
  header>button {
    display: none;
  }

  .header-link {
    display: flex;
  }
}