.site-container>nav {
  background-color: hsla(0, 100%, 100%, 0.85);
  box-shadow: -5px 0 10px hsla(0, 100%, 0%, 0.07);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 13px 10px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
}

.sidebar-link {
  font-size: 1.2em;
  color: var(--gy-clr);
  text-decoration: none;
  margin-top: 30px;

  &:last-child {
    font-weight: 600;
  }
}

.site-container>nav>button {
  display: flex;
  background: none;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

@media (min-width: 350px) {
  .site-container>nav {
    width: 250px;
  }
}